<footer class="footer">
<style>
    a.color-grey, .footer-links {
      color: var(--license-color);
    }
    .footer-links-section {
    margin-bottom: 0;
  }
  .footer-icons {
    display: inline;
    width: 1rem;
    vertical-align: middle;
    margin-bottom: 0;
    }
  </style>
  <span>2023 - Revuo Monero.</br>
	<a class="color-grey" href="https://revuo-xmr.com/source/" target="_blank">Source Code & Licenses</a>.</span>
	<p class="footer-links-section" align="center">
    <a class="footer-links" href="https://revuo-xmr.com/">Clearnet</a>
    |
    <img class="footer-icons" src="/img/onion-tor.avif">
      <a class="footer-links" href="http://revuo75joezkbeitqmas4ab6spbrkr4vzbhjmeuv75ovrfqfp47mtjid.onion/">Onion</a>.
  </p>
</footer>
