<footer class="footer">
<style>
    a.color-grey, .footer-links {
      color: var(--license-color);
    }
    .footer-links-section {
    margin-bottom: 0;
  }
  .footer-icons {
    display: inline;
    height: 1rem;
    vertical-align: middle;
    margin-bottom: 0;
    border-radius: 0;
    }
  .footer-sponsor, .footer-sponsor:hover, .footer-sponsor:focus {
    border-bottom: none;
    text-decoration: none;
  }
  .footer-sponsor img {
    display: inline;
    height: 1.3rem;
    vertical-align: middle;
    margin-bottom: 0;
    border-radius: 0;
  }
  </style>
  <span>2024 - Revuo Monero</br>
	<a class="color-grey" href="/source/" target="_blank">Source Code & Licenses</a></span>
	<p class="footer-links-section" align="center">
    <a class="footer-links" href="https://www.revuo-xmr.com/">Clearnet</a>
    |
    <img class="footer-icons" src="/img/tor.png">
      <a class="footer-links" href="http://revuo75joezkbeitqmas4ab6spbrkr4vzbhjmeuv75ovrfqfp47mtjid.onion/">Onion</a>
    |
    <img class="footer-icons" src="/img/itoopie.png">
      <a class="footer-links" title="http://revuo-xmr.i2p" href="http://qve7i3ke5h2mbbyphd7agmh5awzcwulvrvghjvhndkagdbi4mkcq.b32.i2p/">I2P</a>
  </p>
  Sponsored by <a class="footer-sponsor" href="https://www.digilol.net" target="_blank"><img src="/img/digilol.png"></a>
</footer>
