<footer class="footer">
<style>
    a.color-grey, .footer-links {
      color: var(--license-color);
    }
    a.footer-links img {
      width: 1rem;
      display: inline;
      vertical-align: middle;
      margin-bottom: 0;
      margin-right: 0.2rem;
    }
  .footer-icons {
    display: inline;
    width: 1rem;
    vertical-align: middle;
    margin-bottom: 0;
    border-bottom: none;
    }
  </style>
  <span>2023 - Revuo Monero.</br>
	  <p class="footer-links-section" align="center">
    <a class="footer-links" href="https://revuo-xmr.com/">Clearnet</a>
    |
    <img class="footer-icons" src="/img/onion-tor.avif">
      <a class="footer-links" href="http://revuo75joezkbeitqmas4ab6spbrkr4vzbhjmeuv75ovrfqfp47mtjid.onion/">Onion</a>.
  </p>
	<a class="color-grey" href="https://revuo-xmr.com/source/" target="_blank">Source Code & Licenses</a>.</span>
</footer>
