<header id="header">
	<!-- Dark Mode Button -->
	<label class="switch">
		<input type="checkbox">
		<span class="slider round"></span>
	</label>
	
	<div>
        <a href="{{ site.baseurl }}">
		  <img class="logo" src="{{ "/img/revuo-monero-logo.png" | prepend: site.baseurl | replace: '//', '/' }}" alt="Revuo Monero Logo">
	    </a>
    </div>
    <div class="revuo-classes">
        <a href="{{ site.baseurl }}" class="wk">Weekly</a>
        <a href="/periodicals/" class="pd">Periodical</a>
    </div>
	
	<a href="/atom.xml" target="_blank"><img src="/img/rss-32x32.png" alt="ATOM Feed" title="RSS Feed (ATOM)" /></a>
</header>
