<header id="header">
	<div class="action-container action-container--left">
		<!-- Dark Mode Button -->
		<label class="switch">
			<input type="checkbox">
			<span class="slider round"></span>
		</label>
	</div>
	
	<a href="{{ site.baseurl }}">
		<img class="logo" src="{{ "/img/revuo-monero-logo.png" | prepend: site.baseurl | replace: '//', '/' }}" alt="Revuo Monero Logo">
	</a>

	<div class="action-container action-container--right">
		<a class="icon" href="https://revuo-xmr.com/support/"><img src="/img/donate.png" alt="Donate" title="Support" /></a>
		<a class="icon" href="/atom.xml" target="_blank"><img src="/img/rss_1.png" alt="ATOM Feed" title="ATOM Feed" /></a>
	</div>

    <div class="revuo-classes">
        <a href="{{ site.baseurl }}" class="wk">Weekly</a>
        <a href="/periodicals/" class="pd">Periodical</a>
    </div>
</header>
