/*
 * Emerald is a simple blog theme built for Jekyll.
 */

/*- Base reset -*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img {
  margin: 0;
  padding: 0;
  border: 0;
}

/*- Base color -*/

$main-color: #45494f;
$background-color: #FDFDFD;
$text-color: #222222;

/*- Base settings -*/

html {
	background-color: $background-color;
	font-size: 16px;
    scroll-behavior: smooth;
	@media (min-width: 940px) {
		font-size: 18px;
	}
	line-height: 1.5;
	color: $text-color;
}


/*- Link -*/
a {
	color: $main-color;
    outline: 0;
    border-bottom: 2px dotted #6a6d72;
	text-decoration: none;
	font-weight: 700;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
	&:hover,
	&:focus {
		color: #d26e2b;
        border-bottom: 2px dotted #d26e2b;
	}
}

a#nav-menu {
    border-bottom: none;
}