<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include theme-switcher.html %}

	<div id="wrap">
		<div id="weekly">

			<!-- Navigation -->
			{% include menu-toggle.html %}
			{% include menu.html %}

			<!-- Header -->
			{% if site.custom_header == true %}
				{% include header-custom.html %}
			{% else %}
				{% include header.html %}
			{% endif %}

			<!-- Main content -->
			<div id="container">

				<main>
					{{ content }}
				</main>

				<!-- Pagination links -->
				<div class="pagination">
				{% if paginator.total_pages > 1 %}
					<div class="page-numbers">
					{% if paginator.previous_page %}
						<a href="{{ paginator.previous_page_path}}" class="page-item prev">«</a>
					{% endif %}

					{% for page in (1..paginator.total_pages) %}
					{% assign total = paginator.total_pages %}
					{% if page == paginator.page %}
						<p class="page-numbers-display">{{ page }} of {{total}}</p>
					{% endif %}
					{% endfor %}

					{% if paginator.next_page %}
						<a href="{{ paginator.next_page_path}}" class="page-item next">»</a>
					{% endif %}
					</div>
				{% endif %}
				</div>

			</div><!-- div#container -->
			
			<!-- Footer -->
			{% include footer.html %}

			<!-- Script -->
			{% include script.html %}
		</div><!-- div#weekly -->
	</div><!-- div#wrap -->
</body>
</html>